<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../Content/bootstrap.min.css">
    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }
    </style>
    <title>24 hours</title>
</head>
<body>
    <h1>Bitte Bahn wählen</h1>
    <ul>
        <li><a href="/lane/1">Bahn 1</a></li>
        <li><a href="/lane/2">Bahn 2</a></li>
        <li><a href="/lane/3">Bahn 3</a></li>
        <li><a href="/lane/4">Bahn 4</a></li>
    </ul>
</body>
</html>