/* src/assets/global.css */
body, html {
    overflow-x: hidden;
    max-width: 100%;
    background-image: url('Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}